.table-feedback thead tr th:nth-child(1){
    width: 8%;
} 
.table-feedback thead tr th:nth-child(2){
    width: 20%;
} 
.table-feedback thead tr th:nth-child(3){
    width: 20%;
} 
.headleft{
    float: left;
}
.totalMoney{
    float: right;
}

.table-tran thead tr th:nth-child(1){
    width: 8%;
} 
.table-tran thead tr th:nth-child(2){
    width: 20%;
} 
.table-tran thead tr th:nth-child(3){
    width: 20%;
} 